y:/programmeren/website/xampp/htdocs/admin
y:/programmeren/website/xampp/htdocs/music
y:/programmeren/website/xampp/htdocs/videos
y:/programmeren/website/xampp/htdocs/images
y:/programmeren/website/xampp/htdocs/.vscode
